<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">About Us</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h3>{{about.name}}</h3>
			<h4>{{about.tecl}}</h4>
			<p>{{about.info}}</p>
			<h3>{{about.missionTitle}}</h3>
			<p>{{about.missionStatement}}</p>
		</div>
	</div>
</div>
