<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h3 class="section-heading">Meet Our Team</h3>
		</div>
	</div>
	<div class="row">
		{{#each team}}
			<div class="col-sm-6">
				<div class="team-member">
					<img src="{{img}}" class="img-responsive img-circle" alt="{{alt}}">
					<h4>{{name}}</h4>
					<h5 class="text-muted">{{title}}</h5>
					<p>{{info}}</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>
