<section id="homes">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">For Homes</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>{{homes.problems.intro}}</p>
				<ul>
					{{#each homes.problems.list}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
				<p>{{homes.problems.outro}}</p>
			</div>
			{{#each homes.clients}}
				<div class="col-md-4">
					<div class="col-img-div">
						<img src="{{img}}" alt="{{alt}}" />
					</div>
					<h3>{{type}}</h3>
					<p>{{info}}</p>
				</div>
			{{/each}}
		</div>
	</div>
</section>
